services:
  # --- Storage ---
  db:
    image: postgres:18-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./postgres-init-scripts:/docker-entrypoint-initdb.d
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"

  # --- Backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    expose:
      - "6969"
      - "9091"
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
  calendar:
    build:
      context: ./calendar
      dockerfile: Dockerfile
    ports:
      - "6965:8080"
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db

  # --- UI ---
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_GRPC_HOST: ${WEBAPP_URL}/api
    expose:
      - "5173"
    env_file:
      - .env
  nginx:
    image: nginx:1.27-alpine
    restart: unless-stopped
    ports:
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - backend
      - frontend
  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
      - calendar

  # --- Metrics ---
  prometheus:
    image: prom/prometheus:v2.52.0
    restart: unless-stopped
    volumes:
      - ./prometheus:/etc/prometheus
  grafana:
    image: grafana/grafana:11.2.0
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  db_data:
  grafana_data:
